@use "./assets/styles/loginView.scss";
@use "./assets/styles/customTabs.scss";
@use "./assets/styles/c360.scss";
@use "./assets/styles/baseModal.scss";
@use "./assets/styles/loader.scss";

@use './assets/styles/variables.scss' as v;

// @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

@font-face {
	font-family: 'Sarabun';
	src: url('/fonts/Sarabun-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Sarabun';
	src: url('/fonts/Sarabun-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.App { 
	text-align: center;
	font-family: 'Sarabun', sans-serif;
	height: 100vh;
	font-size: 1.1rem;
}

// font
.f-saraban {
	font-family: 'Sarabun', sans-serif;
}

.fs-7 {
	font-size: 0.85rem !important;
}

.fs-8 {
	font-size: 0.7rem !important;
}

// color purple
.bg-purple {
	background-color: v.$purple-primary;
}

.bg-purple-light {
	background-color: v.$purple-light;
}

.bg-purple-dark {
	background-color: v.$purple-dark;
}

.bg-purple-gradient {
	background: linear-gradient(to bottom,
			#e3e5fb 0%,
			#cccdef 50%,
			#b3b3de 100%);
}

.text-purple {
	color: v.$purple-dark;
}

// color yellow
.bg-yellow {
	background-color: v.$yellow-primary;
}

.bg-yellow-light {
	background-color: v.$yellow-light;
}

.bg-yellow-gradient {
	background: linear-gradient(to bottom, #ffd58c 0%, v.$yellow-primary 100%);
}

.text-yellow {
	color: v.$yellow-primary;
}

// color red
.bg-red {
	background-color: v.$red-primary;
}

.text-red {
	color: v.$red-primary;
}

// color orange
.bg-orange {
	background-color: v.$orange-primary;
}

.text-orange {
	color: v.$orange-primary;
}

// color green
.bg-green {
	background-color: v.$green-primary;
}

.text-green {
	color: v.$green-primary;
}

// input
.form-control {
	&:focus {
		border-color: #7982e9 !important;
		box-shadow: none !important;
	}

	&::placeholder {
		color: #8a8a8a !important;
	}

	&[type="date"] {
		font-size: 0.8rem;
		color: #8a8a8a;
	}

	&.filter {
		font-size: 0.8rem;
	}

}

.form-check-input {
	cursor: pointer !important;

	&:focus {
		box-shadow: none !important;
	}
}

.form-check-label {
	width: 100%;
}

.label-wrp {
	min-width: 100px;
}

// button
.purple-btn {
	background-color: v.$purple-primary !important;
	color: #fff !important;
	border: none !important;
	width: 100px !important;
	height: 40px !important;

	&:hover {
		background-color: v.$purple-dark !important;
	}
}

button {
	border-radius: 10px !important;
	font-size: 1.1rem !important;
}

// modal
.modal-header {
	.btn-close:focus {
		box-shadow: none !important;
	}
}