@use './variables.scss' as v;

.info-top {
    padding: 3rem 5rem;
}

.promotion-wrp {
    min-height: 325px;
    color: #000;
    padding: 5% 12%;
    background: linear-gradient(to bottom, #e3e5fb 0%, #bfbfe9 100%);

    .desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .more-detail-btn {
        background-color: #fff;
        color: v.$purple-dark;
        border-radius: 20px;
        border: 1px solid v.$purple-dark;

        &:hover {
            background-color: v.$purple-dark;
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10% !important;
}