@use './variables.scss' as v;

.tabs-wrp {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 60px;
    background-color: v.$purple-primary;
    color: #fff;
    padding: 0 !important;

    .nav-tabs {
        border-bottom: none !important;
        height: 100%;

        .nav-item {
            height: 100%;
            border: none !important;

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: #fff !important;
                border: none !important;
                min-width: 100px;
                border-bottom: 4px solid v.$purple-primary !important;
                font-weight: bold;

                &.active {
                    background-color: transparent;
                    border-bottom: 4px solid v.$yellow-primary !important;
                }

                &:hover:not(.active) {
                    color: #d4d4d4 !important;
                }
            }
        }
    }
}

.tab-content-wrp {
    height: calc(100vh - 60px);
    overflow-y: auto;
}