@use './variables.scss' as v;

.loader-modal {
    .modal-dialog {
        width: 150px;

        .modal-content {
            background: transparent;
            border: none;
        }
    }

    .spinner-border {
        width: 60px;
        height: 60px;
        border-width: 8px;
    }
}