.base-table-wrapper {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    padding-bottom: 10px;

    .base-table {
        width: 100%;
        min-width: 1000px;
        border-collapse: collapse;
        background-color: #fff;

        th,
        td {
            padding: 1rem;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        th {
            background-color: #d7daf9;
            font-weight: 600;
            position: sticky;
            top: 0;
            z-index: 10;
        }

        tr:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
    }

    .base-table-head {
        table-layout: fixed;
    }

    .scroll-body {
        max-height: 500px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;   
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #8a8a8a;
            border-radius: 8px;
        }

        .base-table {
            table-layout: fixed;
        }
    }
}